<div class="bg-danger">
  <div class="d-flex justify-content-center background">
    <div class="p-5 text-center bg-white form-group position-relative" id="loginbox">
      <form>
        <input class="form-control" type="text" id="username" title="username" placeholder="  Username"><br>
        <input class="form-control" type="password" id="password" title="password" placeholder="  Password"><br>
        <button type="submit" class="btn btn-sm btn-block d2-btn-primary" id="register" disabled>Login</button>
        <button type="button" class="btn-sm btn btn-block d2-btn-secondary" routerLink="/register">Register</button>
      </form>
    </div>
  </div>
</div>
