<div class="bg-danger">
  <div class="d-flex justify-content-center background">
    <div class="p-5 text-center bg-white form-group position-relative" id="loginbox">
      <form>
        <div class="input-group">
          <input class="form-control form-inline" type="text" id="fname" title="fname" placeholder=" First Name" maxlength="30">
          <input class="form-control form-inline" type="text" id="lname" title="lname" placeholder=" Last Name" maxlength="30">
        </div><br>
        <input class="form-control" type="text" id="username" title="username" placeholder="  Username" maxlength="30">
        <small id="userMax" class="form-text text-muted">Username Length {{onUserInput()}}/30</small><br>
        <input class="form-control" type="password" id="password" title="password" placeholder="  Password"><br>
        <input class="form-control" type="password" id="password2" title="password2" placeholder=" Repeat Password"><br>
        <div class="d-inline-block g-recaptcha" data-sitekey="6LfOkmEUAAAAACZxvehtAPDdUQnpC8XaNB0ANSb-"></div><br><br>
        <input class="btn-block btn d2-btn-primary" type="submit" title="Submit"/>
      </form>
    </div>
  </div>
</div>
